$dark-mode: #070611;

$body-bg: $dark-mode;
$dark: $dark-mode;
$custom-light: #39336B;
$custom-very-light: adjust-color($custom-light, $lightness: 50%);

@import "../bootstrap/scss/bootstrap.scss";

$font-family-base: 'Lato', sans-serif;

.style-logo {
    filter: brightness(0) saturate(100%) invert(17%) sepia(46%) saturate(1417%) hue-rotate(216deg) brightness(94%) contrast(88%);
}

.border-custom-light {
    border-color: $custom-light !important;
}

.text-custom-very-light {
    color: $custom-very-light;
}

.col.media-feed {
    margin: 2rem 0rem 0rem;
}

.container.text-content {
    margin-top: 2rem;
    width: 60rem;

    ul {
        columns: 3;
        width: 90%;

        li {
            padding-right: .25rem;
        }
    }

    @media(max-width: 767px) {
        ul{
            columns: 2;
            width: 100%;
        }
        width: 100%;
    }
    @media(max-width: 576px) {
        ul{
            columns: 1;
            width: 50%;
        }
    }
}

.media-feed .card {
    //TODO fancy size and opacity transition as rows load in
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    padding-bottom: .5rem;

    &:hover {
        background-color: adjust-color($dark, $lightness: 7%) !important;
    }

    .inner-content-card {
        @extend .card;
        width: 95%;

        &.list-group-item {
            border-radius: .25rem; //Standard bootsrap radius
            margin: .25rem 0rem;
            padding: .5rem 1rem; //Standard bootstrap padding
        }

        &:hover {
            background-color: adjust-color($dark, $lightness: 20%) !important;
        }
    }
}
